#define APPN "Jade Engine"
#define VERSION_ 0,11,0,0
#define VERSION_STR "Beta 0.11"

0 ICON DISCARDABLE jd.ico

1 VERSIONINFO
 FILEVERSION VERSION_
 PRODUCTVERSION VERSION_
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000704b0"
        BEGIN
            VALUE "CompanyName", "Christian Neumüller"
            VALUE "FileDescription", "Jade Game Engine"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", APPN
            VALUE "LegalCopyright", "Copyright © 2013"
            VALUE "OriginalFilename", "jd.exe"
            VALUE "ProductName", APPN
            VALUE "ProductVersion", VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x7, 1200
    END
END
